/* #img-div {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

#image {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
} */

span {
  color: #fdb927;
}

strong {
  color: #000;
  background-color: #fdb927;
  padding: 3px;
}

li {
  padding-bottom: 20px;
}
